<div class="top">
  <div><img src="/assets/logo2.png" alt=""></div>
  <!--<h3>OGUBBSへようこそ</h3>-->
  <div class="btn-border-bottom"><%= link_to "はじめる","/topics" ,data: {"turbolinks" => false}%></div>  
</div>
